
* {
  margin: 0px;
  padding: 0px;
}

.main-body {
  background-color: rgb(229, 216, 229);  
  font-family: sans-serif; 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  background-color:black;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float:right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}


li a:hover {
  background-color: rgb(229, 216, 229);
  
}
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
.content {
  font-size: 50px;
  text-align: center;
   
}
img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 30px;
    box-shadow: #000;
}
.flip-card-inner{
  position:relative;
  height: 300px;
  justify-content: center;
  
    
}
.flip-card {
  background-color: transparent;
  width: 400px;
  height: 300px;
  border: 1px solid rgb(229,216,229);
  perspective: 1000px;
  z-index: -2;
  justify-content: center;
  border-radius: 5px;
  margin-left: 550px;
  margin-top: 100px;
 }
 .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: rgb(229, 216, 229);
  color: black;
  border-radius: 5px;
}
.flip-card-back {
  background-color: rgb(205, 157, 204);
  color: black;
  transform: rotateY(180deg);
  border-radius: 5px;
}

.here{
  color: #030303;
  text-decoration:underline;
}
.content{
  color: #000;
  padding: 5px;
}
.full{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(146, 57, 214)
}
.paragraph{
    text-align: center;
    font-size: 45px;
    font: optional;
    padding-left: 20px;
    
}
 .container {
      border-radius: 5px;
      padding: 0px;
      display: flex;

    }
   
.about-body{
  background-color:rgb(229, 216, 229);
  display: flex;
  flex-wrap: wrap;
  
}
*{
  margin: 0;
  padding: 0;
  font-family: "open sans", sans-serif;
}

.about-section{
  width: 100%;
  background:rgb(229,216,229);
  padding: 40px 0;
  display: flex;
  
}

.inner-width{
  max-width: 1000px;
  overflow: hidden;
  padding: 0 20px;
  text-align: center;
 
}

.about-section h1{
  text-align: center;
  color: #030303;
  padding: 20px;
}

.border{
  width: 100px;
  height: 3px;
  background: rgb(229,216,229);
  margin: 40px auto;
}

.about-section-row {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  flex-wrap: nowrap;
}

.about-section-col {
  flex: 100%;
}

.about{
text-align: center;
width: 100%;
}

.about p {
  text-align: justify;
  padding-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
  
}

.about a{
  display: inline-block;
  color: #e72c3c;
  text-decoration: none;
  border: 2px solid #e72c3c;
  border-radius: 24px;
  padding: 8px 40px;
  transition: 0.4s linear;
}

.about a:hover {
  color: #fff;
  background: #e72c3c;
}

.skills{
  padding-left: 30px;
  width: 200px;
}

.skill{
  margin-bottom: 10px;
}

.progress{
  width: 100%;
  background:lightblue;
  border-radius: 12px;

}

.progress-bar {
  height: 12px;
  background:purple;
  border-radius: 12px;
}

.progress-bar span{
  float: right;
  margin-right: 6px;
  line-height: 13px;
  color: #fff;
  font-size: 12px;
}

.p1{
 width: 80%;
}

.p2{
 width: 60%;
}

.p3{
  width: 30%;
}

@media screen and (max-width: 700px){
  .about-section-col{
    flex: 100%;
    margin: 10px 0;
  }
  .about, .skills {
    padding: 0;
    width: 50px;
  }
  .about{
    text-align: center;

  }
}
.social-menu ul{
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
  display: flex;
}

.social-menu ul li{
  list-style: none;
  margin: 0 15px;
}

.social-menu ul li .fab{
  font-size: 30px;
  line-height: 60px;
  transition: .3s;
  color: #000;
}

.social-menu ul li .fab:hover{
  color:rgb(169, 126, 169);
}

.social-menu ul li a{
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: .6s;
  box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
  transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
  background-color:rgb(235, 222, 235);
}
.social-menu ul li:nth-child(2) a:hover{
  background-color: rgb(235, 222, 235);
}
.social-menu ul li:nth-child(3) a:hover{
  background-color: rgb(235,222,235);
}
.social-menu ul li:nth-child(4) a:hover{
  background-color: #000;
}
material-symbols-outlined {
  font-size: 36px;
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" -25, "opsz" 20;
}


h1 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 72px;
    color:black;
    text-align: center;
}

h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 30px;
    color: black;
    line-height: 1.5;
}
.contact-body{
  background-color: rgb(222, 219, 222);
  align-content: center;
}

.contact-form .form-control::-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}

.contact-form .form-control:focus {
  border-color: #f33fb0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px #f33fb0;
}

.contact-form .title {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.contact-form .description {
  color: black;
  font-size: 16px;
  text-align: center;
}

.contact-form .submit-button-wrapper {
  text-align: center;
}

.contact-form .submit-button-wrapper input {
  border: none;
  border-radius: 4px;
  background-color: #f23292;
  color: white;
  text-transform: uppercase;
  padding: 10px 60px;
  font-weight: 500;
  letter-spacing: 2px;
}

.contact-form .submit-button-wrapper input:hover {
  background-color: #d30069;
}
.contact-form-center{
   width: 500px;
   height: 600px;
   justify-content: center;
   margin-left: 500px; 
   margin-top: 100px;

}
input[type=text], select, textarea{
width: 100%; 
padding: 12px; 
border: 1px solid  ;
border-radius: 4px; 
box-sizing: border-box; 
margin-top: 6px; 
margin-bottom: 16px; 
resize: vertical
}
.testimonial {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  overflow: hidden;
  max-width: 100%;
  width: 400px;
 

}

.testimonial-body {
  padding: 40px 40px 80px;
}

.testimonial-body p {
  color: #555;
  font-size: 20px;
  line-height: 36px;
  margin: 0;
}

.testimonial-body .fa-quote-right {
  color: #eee;
  font-size: 40px;
  float: right;
}

.testimonial-footer {
  background-color: #686de0;
  color: #fff;
  padding: 40px;
  text-align: center;
}

.testimonial-footer img {
  border-radius: 50%;
  border: 5px solid #fff;
  height: 120px;
  width: 120px;
  margin-top: -100px;
  
}

.testimonial-footer h3 {
  margin: 10px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.testimonial-footer h4 {
  color: #b3b5ef;
  margin: 0;
  letter-spacing: 1px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}