* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(deco.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 125vh;   
  padding:0px; 
  margin: 0px; 
  background-size: cover;  
  font-family: sans-serif; 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  background-color:black;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float:right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}


li a:hover {
  background-color: rgb(235, 162, 231);
  
}
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  

h1 {
  font-size: 50px;
  text-align: center;
  color: white;
 ;
}
.content {
  font-size: 50px;
  text-align: center;
   
}
img {
  min-width: 30%;
  width: 10%;
  height: 10%;
  height:auto;
  border: 7px solid black;
  border-radius: 50%;
  margin: auto;
  display: block;
}
.here{
  color: #030303;
  text-decoration:underline;
}

.content h1 .name {
  font-size: 100px;
  color: red;margin-top: 80px;
  top: -60px;

}
.full{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(147, 81, 147);
}
.paragraph{
    text-align: center;
    font-size: 45px;
    font: optional;
    padding-left: 20px;
    
}
    
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px 20px;  
      border: 1px solid black; 
      border-radius: 4px;
      box-sizing: border-box; 
      margin-top: 6px; 
      margin-bottom: 16px; 
      margin:8px
      
      
     
    ;
    }
    
   
    input[type=submit] {
      
      color:#030303;
      padding: 12px 20px;
      border: black;
      border-radius: 4px;
      cursor: pointer;
      
    }
    
    
    input[type=submit]:hover {
      border-color: #eb9dde;
    }
    
    
    .container {
      border-radius: 5px;
      padding: 20px;
    }
   

    